@font-face {
    font-family: hackerspace;
    src: url(./fonts/hackerspace.ttf);
  }
.AppBar{
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    display: flex;
}

.Title{
    flex-grow: 1;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: hackerspace  ;
}

.Links{
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    color: black;
}

.Link{
    font-size: 27px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.output{
    min-width: 200px;
    min-height: 200px;
    color: black;
    padding: 10px;

}

#output{
    max-width: 300px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;

}

.Card{
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    background-color: #4b5d67;
    margin-right: auto;
    margin-left: auto;
}

.SubmitButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
}

.Result{
    margin: 5px;
    text-align: center;
    width: 100%;
}

.Loading{
    margin-left: 50%;
    margin-right: auto;
    margin-top: 10%;
}

@media only screen and (max-width: 600px) {
    .Title{
        font-size: 20px;
    }
    .Link{
        font-size: 17px;
        padding: 5px;
        padding-left: none;
        padding-right: none;
    }
}
