.AppBar{
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    display: flex;
}

.Title{
    flex-grow: 1;
}

.Links{
    font-size: 0.75rem;
    color: black;
}

.output{
    min-width: 200px;
    min-height: 200px;
    color: black;

}

.Card{
    min-width: 300px;
    min-height: 400px;
    margin: 10px;
    background-color: #4b5d67;
}

.SubmitButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
}

.Result{
    margin: 5px;
    text-align: center;
    width: 100%;
}